/*Couleurs : varie selon la charte graphique (cf drive)*/

/*TODO : couleur du footer/header : #8AF185  shadows : #7DBB7A*/


/*Couleurs*/

    /*Fonds*/

body {
  background-color: #fcfed7;/*#f9ffea;*/
}

.couleur-primaire{
	background-color: #8AF185;
}

.couleur-secondaire{
	background-color:#80D3E3;
}

.couleur-terciaire{
	background-color: #f7fc8b;
}

.camera{
    background-color: #4e964b;
}

    /*Icones*/
.couleur-blanc{
	color: white;
}

.icone{
    color: #4e964b;
}
    /*Conteneurs*/

.conteneur-principal{
    background-color: #F2FCFD;
	box-shadow: 1px 5px 5px #74A7B0;
	border-style: solid;
	border-width: 0.2px 0.5px 0.5px 0.2px;
	border-color : #74A7B0;
}

	/*Textes*/
.texte-conteneur-principal{	
	color : #457178;
}

.texte-boutton{
	color: #F2FCFD;
}

    /*Images*/    
.image-centree{
	border-color: #f1fbd7;
	box-shadow: 1px 1px 2px #B1C37F;
}

.miniature{
	border-color: #f1fbd7;
	box-shadow: 1px 1px 2px #B1C37F;
}

    /*Bordures*/
.bordure-cercle{  
    box-shadow: 1px 5px 5px #4e964b;
}

/*Header*/
#header{		
	background-color: #8AF185;
	box-shadow: 1px 5px 5px #4e964b;
}

/*Elements*/
.element-important{
	background-color: #80D3E3;
	box-shadow: 5px 10px 15px #74A7B0;
}
.element-secondaire{
	background-color: #DDFB8B;
	box-shadow: 5px 10px 20px #B1C37F;
}

/*Fin couleurs*/


