.miniature {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 5%;
    
    
}

.conteneur-carre {
    position: relative;
    width: 50%;
  }
  
  .conteneur-carre:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }
