/*Couleurs : varie selon la charte graphique (cf drive)*/

/*TODO : couleur du footer/header : #8AF185  shadows : #7DBB7A*/


/*Couleurs*/

    /*Fonds*/

body {
  background-color: #f1fbd7;
}

.couleur-primaire{
	background-color: #8AF185;
}

.couleur-secondaire{
	background-color:#80D3E3;
}

.couleur-terciaire{
	background-color: #DDFB8B;
}

.camera{
    background-color: #4e964b;
}

    /*Icones*/
.couleur-blanc{
	color: white;
}

.icone{
    color: #4e964b;
}
    /*Conteneurs*/


    /*Images*/    
.image-centree{
	border-color: #DDFB8B;
	box-shadow: 1px 1px 2px #B1C37F;
}

.miniature{
	border-color: #DDFB8B;
	box-shadow: 1px 1px 2px #B1C37F;
}

    /*Bordures*/
.bordure-cercle{  
    box-shadow: 1px 5px 5px #4e964b;
}
/*Fin couleurs*/


