/*Couleurs : varie selon la charte graphique (cf drive)*/

/*TODO : couleur du footer/header : #8AF185  shadows : #7DBB7A*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*Couleurs*/
    /*Fonds*/

body {
  background-color: #f9ffea;
}

.couleur-primaire{
	background-color: #8AF185;
}

.couleur-secondaire{
	background-color:#80D3E3;
}

.couleur-terciaire{
	background-color: #f7fc8b;
}

.camera{
    background-color: #4e964b;
}

    /*Icones*/
.couleur-blanc{
	color: white;
}

.icone{
    color: #4e964b;
}

.icone-retour{
	color: #80D3E3;
}
    /*Conteneurs*/

.conteneur-principal{
    background-color: #F2FCFD;
	box-shadow: 0.1em 0.5em 1em #74A7B0;
	border-style: solid;
	border-width: 0.01em 0.02em 0.02em 0.01em;
	border-color : #74A7B0;
}

	/*Textes*/
.texte-conteneur-principal{	
	color: #457178;
}

.texte-boutton{
	color: #F2FCFD;
}

    /*Images*/    
.image-centree{
	border-color: #f9ffea;
	box-shadow: 1px 1px 2px #B1C37F;
}

.miniature{
	border-color: #f9ffea;
	box-shadow: 1px 1px 2px #B1C37F;
}
#badge{
    box-shadow: 0.1em 0.2em 0.3em #4e964b;
 }
    /*Bordures*/
.bordure-cercle{  
    box-shadow: 0.1em 0.2em 0.2em #4e964b;
}

/*Header*/
#header{		
	background-color: #8AF185;
	box-shadow:  0.1em 0.5em 0.5em #4e964b;
}

/*Elements*/
.element-important{
	background-color: #80D3E3;
	box-shadow: 5px 10px 15px #74A7B0;
}
.element-secondaire{
	background-color: #DDFB8B;
	box-shadow: 5px 10px 20px #B1C37F;
}

/*Modales*/
.modale-interruption {
    background: #f9ffea;
}

.ui-dialog-titlebar {
    background: #f7fc8b;
    box-shadow: 1px 2px 3px #f7fc8b;
    border: none;
}

.ui-dialog-buttonpane {
    background: #f9ffea;
}

.ui-dialog-buttonset {
    max-width: 100%;
}

.ui-button{
    background: #f7fc8b;
    border: none;
}

.ui-button:hover{
    background: #f7fc8b;
    border: none;
}

.ui-button:focus {
    background: #f7fc8b;
    border: none;
}

/*Fin couleurs*/


