html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #vue-camera, #capteur-camera, #sortie-camera{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#declencheur-camera{
    position: fixed;
    bottom: 30px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo-prise{
    max-height: 100%;
    max-width: 100%;
    transition: all 0.5s ease-in;
    z-index: 2;
}

.icone {
    position: fixed;
    top:1em;
    left: 1em;
    z-index: 2;
}

.bouton-validation {
	position: fixed;
	bottom: 30px;
}
