#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: navy;
   color: white;
   text-align: center;
   height:100px;
}

#header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: indigo;
   color: white;
   text-align: center;
   height: 50px;
}

#main {
	margin-bottom:50px;
	margin-top:50px;
}
